body {
    background: url('/assets/photo/background.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 80px;
}

.navbar {
    transition: background-color 0.3s;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.navbar.scrolled {
    background-color: rgb(60, 48, 131) !important;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.parallax {
    background-image: url('/assets/photo/background.jpg');
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Chatbox */
.chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none;
}

.chat-header {
    background: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.chat-body {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 5px;
}
